@import "app/styles/index";

.button {
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: 0;
  height: 38px;
  align-items: center;
  box-sizing: border-box;
  font-weight: 600;
  padding: 0 $gutter * 2;
  max-width: 225px;
  width: 100%;
  font-size: 12px;
  font-family: $primary-font-family;
  border-radius: $border-radius;
  transition: background-color 0.25s;
  display: inline-flex;
  justify-content: center;

  @media #{$small-and-down} {
    max-width: 100%;
  }

  &.primary {
    background: $primary-gradient;
    color: $white;

    &:not(.disabled):hover {
      background: $primary-gradient-inverted;
    }
  }

  &.secondary {
    background: $secondary-gradient;
    color: $white;

    &:not(.disabled):hover {
      background: $secondary-gradient-inverted;
    }
  }

  &.disabled {
    background: $grey;
    color: $dark-grey;
    cursor: not-allowed;
  }

  &.fullWidth {
    max-width: 100%;
  }
}
